*.o
*.so
*.a
*.ncb
*.plg
*.aps
*.opt
*.aac
*.wav
*.mp4
*.m4a
*.lo
Makefile*
*.deps
*.libs
*.la
*~
/frontend/faac
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
.vs/
/project/msvc/bin/
/project/msvc/intermediate/
*.user
/libfaac/win32_ver.h
